<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedMethodsMode_FILTER_CALLS_FLAG">NO_FILTER</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MonitorFeature_UI_CPU_GRAPH_FLAG">false</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedMethodsMode_SELECTION_FLAG">dp_detection_in_sources.DP_detection_in_sources,main,([Ljava/lang/String;)V </entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_MODE_FLAG">ProjectClassesMode</entry>
<entry key="ACTIVATED_FEATURES">#org.netbeans.modules.profiler.v2.features.MethodsFeature@</entry>
<entry key="org.netbeans.modules.profiler.v2.features.ObjectsFeature_MODE_FLAG">AllClassesMode</entry>
</properties>
